doctype html
html
  include ./parts/head.pug

  body
    include ./parts/header.pug

    main
      .shadow-wrapper
        include ./parts/install.pug
        include ./parts/simple.pug
        include ./parts/code.pug
        include ./parts/apps.pug
        include ./parts/after.pug
        include ./parts/channels.pug

    include ./parts/footer.pug
