section.after
  .content-wrapper
    h2 ЧТО ВАС ЖДЕТ ПОСЛЕ УСТАНОВКИ
    p Идейные соображения высшего порядка, а также сложившаяся структура организации позволяет
    p.step.step1 
      big
        strong Шаг 1. 
      | Создание учетной записи компании и администратора
    p.step.step2 
      big
        strong Шаг 2. 
      | Активация учетной записи
    p.step.step3 
      big
        strong Шаг 3. 
      | Начальная настройка
    p.step.step4 
      big
        strong Шаг 4. 
      | Установка кнопки Webim на сайт
    p.step.step5 
      big
        strong Шаг 5. 
      | Регистрация оператора
    p.step.step6 
      big
        strong Шаг 6. 
      | Тест сервиса
    div
      a(href="/").btn.filled.animate__animated.animate__zoomIn все возможности webim
      a(href="/").btn.dark.filled.animate__animated.animate__zoomIn протестировать бесплатно
