section.apps
  .content-wrapper
    h2 УСТАНОВКА ПРИЛОЖЕНИЯ ДЛЯ ОПЕРАТОРОВ WEBIM DASHBOARD
    p Чтобы быть на связи с клиентами всегда, установите приложение Webim Dashboard 
    ul.marked-list
      li
        h4
          a(href="/") Установка приложения Webim Dashboard для iPhone
        p Документация по установке дополнительного программного обеспечения для операторов <strong>сервиса Webim</strong>, использующих iPhone/iPad/etc от компании Apple.
      li
        h4
          a(href="/") Установка приложения Webim Dashboard для Android
        p Документация по установке дополнительного программного обеспечения для операторов <strong>сервиса Webim</strong>, использующих платформу Google Android.
      li
        h4
          a(href="/") Установка приложения Webim Dashboard для Ubuntu
        p Документация по установке дополнительного программного обеспечения для операторов <strong>сервиса Webim</strong>, использующих платформу Ubuntu.
      li
        h4
          a(href="/") Установка приложения Webim Dashboard
        p Документация по установке дополнительного программного обеспечения для операторов <strong>сервиса Webim</strong> под Microsoft Windows.
      li
        h4
          a(href="/") Установка приложения Webim для Mac OS
        p Пошаговая инструкция создания приложения для оператора Webim для Mac OS с помощью Fluid