section.channels
  .content-wrapper
    h5 Webim – это не только онлайн-консультант. Интегрируйте и другие каналы, чтобы клиенты могли обращаться к вам любым удобным способом
    ul
      li
        a(href="/").soc Социальные сети
      li
        a(href="/").feedback Форма обратной связи
      li
        a(href="/").chat Чат в вашем мобильном приложении
      li
        a(href="/").mess Мессенджеры
      li
        a(href="/").yand Яндекс.Диалоги
      li
        a(href="/").mail Электронная почта
      li
        a(href="/").bots Чат-боты