section.code
  .content-wrapper
    h2 установка HTML-кода
    ul.marked-list
      li
        h4
          a(href="/") Установка HTML-кода Webim для сайтов на Joomla
        p Документация по внедрению сервиса Webim на сайтах, построенных на базе <strong>CMS Joomla</strong>.
      li
        h4
          a(href="/") Установка HTML-кода Webim для сайтов на Wordpress
        p Документация по внедрению сервиса Webim на сайтах, построенных на базе <strong>Wordpress</strong>.
      li
        h4
          a(href="/") Установка HTML-кода Webim для сайтов на uCoz.ru
        p Документация по внедрению сервиса Webim на сайтах, построенных на базе <strong>uCoz.ru</strong>.
      li
        h4
          a(href="/") Установка HTML-кода Webim для сайтов на webasyst.ru
        p Документация по внедрению сервиса Webim на сайтах, построенных на базе <strong>webasyst.ru</strong>.
      li
        h4
          a(href="/") Установка HTML-кода Webim для любого сайта
        p Документация по внедрению сервиса Webim на сайтах с другой CMS или написанных вручную.
