footer
  .wide-wrapper
    .copyright
      a(href="/").logo
      p Webim 2008-2017<br>Все права защищены
    .phones
      p.bigger 
        strong +7&nbsp;(800)&nbsp;500-49-32
      p
        strong +7&nbsp;(499)&nbsp;322-37-54<br>
        | Москва, Серебряническая набережная, 29
      p
        strong +7&nbsp;(812)&nbsp;385-53-37<br>
        | Санкт-Петербург, Чкаловский проспект, 15
    .contacts
      p
        a(href="mailto:contact@webim.ru") contact@webim.ru<br>
        a(href="mailto:sales@webim.ru") sales@webim.ru
      p понедельник - пятница 10:00 - 18:00
      p.socials
        a(href="/").vk
        a(href="/").fb
        a(href="/").tw
        a(href="/").sk