head
  meta(charset = 'utf-8')
  meta(name='viewport', content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
  title Установка Webim
  link(rel='stylesheet', href='styles/styles.css')
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")