header
  .wide-wrapper
    nav.main-menu
      .left-align
        a(href="/") вход
        a(href="/") регистрация
      .right-align
        a(href="/") возможности
        a(href="/") тарифы
        a(href="/") партнерам
        a(href="/") помощь
    a(href="/").sandwitch
      span.top
      span.mid
      span.bot
    a(href="/").logo