section.install
  .content-wrapper
    h1.animate__animated.animate__bounce установка WEBIM
    p Установка онлайн-консультанта Webim на ваш сайт не займет много времени. <br> Вы можете установить онлайн-консультант Webim на ваш сайт и протестировать его в течение 7 дней бесплатно.
    div
      a(href="/").btn.filled.animate__animated.animate__zoomIn попробовать бесплатно
      a(href="/").btn.dark-bordered.animate__animated.animate__zoomIn тарифы