section.simple
  .content-wrapper
    h2 простая установка
    p Установка онлайн-консультанта Webim не займет более 15 минут
    ol.two-steps
      li.reg 
        a(href="/") Регистрация
      li.insert 
        a(href="/") Установка HTML-кода